<p>
  <strong>Name:</strong>
  <%= projectuser.name %>
</p>
<p>
  <strong>Password:</strong>
  <%= projectuser.password %>
</p>

<p>
  <%= link_to 'Destroy User', [projectuser.project, projectuser],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>